:root {
    --secondaryColor:#8ecae6; 
    --bgColor: #f1faee;
    --cardList: #ffbe0b;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor) ;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 90px;
}

/* Sidebar Starts */

.sidebar {
    background-color: var(--secondaryColor);
    color: white;
    gap: 40px;
    font-weight: 700;
    grid-row: 1/4;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 9%;
}

.menu,.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    margin-top: 5%;
}

.logo .feather-logo {
    width: 2.6rem;
    height: 2.6rem;

}

.menu-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Navbar */

.navbar {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 70px;

}

.search input[type="text"] {
    background-color: rgba(128, 128, 128, 0.274);
    border: none;
    outline: none;
    height: 1.5rem;
    padding: .3rem 1rem;
    border-radius: 30px;
    width: 70%;
}

.search .feather-search {
    color: rgba(0, 0, 0, 0.619);
}

.profile {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 50px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile h2 {
    font-weight: 700;
    font-size: 1rem;
}

/* Profile Bar */

.profile-bar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.profile-bar .left-bar {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 20px;
}

.profile-bar .left-bar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-bar .left-bar .text {
    line-height: 1.5;
}

.profile-bar .left-bar .text p {
    font-size: .9rem;
}

.profile-bar .left-bar h2 {
    font-size: 1.2rem;
}

.profile-bar .right-bar {
    display: flex;
    align-items: center;
    gap: 17px;
}

.profile-bar .right-bar button[type="submit"] {
    background-color: var(--secondaryColor);
    border: none;
    padding: 1em 3em;
    border-radius: 30px;
    font-weight: 700;
    color: whitesmoke;
}

/* Content Starts */

.content {
    display: grid;
    grid-template-columns: 2fr .8fr;
    grid-template-rows: 1fr;
}

.projects {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 20px;
}
.projects h1, .announcement h1, .trending h1 {
    font-weight: 700;
    font-size: 1.2em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30ch,1fr));
    margin-top: 10px;
}
.card {
    margin: 10px;
    background-color: white;
    /* width: 30ch; */
    padding: 2em 2.6em;
    padding-left: 1.7em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 9px solid var(--cardList);
    border-radius: 8px;
    
} 

.content .projects .card h2 {
    font-weight: 700;
    font-size: 1.2em;
}

.content .projects .card p {
    font-size: .9em;
    margin-top: .3em;
    color: rgba(0, 0, 0, 0.6);
}

.card-content {
    margin-bottom:20px ;
}

.card-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.content .iconsCard {
    height: 20px;
    width: 20px;
}

.announcement {
    margin-top: 35px;
}

.announcement-container {
    background-color: white;
    padding: 1em 1em;
    margin-top: 19px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.post {
    padding: 1em;
}

.post p{
    font-size: .75em;
    color: rgba(0, 0, 0, 0.6);
}

.post h2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 3px;
}

.post:nth-child(2) {
    border-top: 1px solid rgba(128, 128, 128, 0.546);
    border-bottom: 1px solid rgba(128, 128, 128, 0.546);
}

.trending {
    margin-top: 20px;
    grid-column: 2/3;
}

.trending h1 {
    margin-bottom: 20px;
}

.trending-post {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending-container {
    background-color: white;
    padding: 2em 1.8em;
    margin-right: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trending-post img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.trending-content {
    line-height: 1.3;
}

.trending-content h3 {
    font-size: 1.1em;
}

.trending-content p {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.6) ;
}
